<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sys_role 角色 -->
<mapper namespace="com.onesuo.app.dao.certs.RoleDao">
	<resultMap id="entityResultMap" type="com.onesuo.app.model.Role">
		<id property="id" column="id" />
		<result property="isDeleted" column="is_deleted" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
		<result property="roleName" column="role_name" />
		<result property="roleDesc" column="role_desc" />
		<result property="status" column="status" />
	</resultMap>
	<sql id="Base_Column_List" >
		`id`,`is_deleted`,`gmt_create`,`gmt_modified`,`role_name`,`role_desc`,`status`
	</sql>
	<!-- 查询 -->
	<select id="findOne" resultMap="entityResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM sys_role
		WHERE id = #{id}
	</select>
	<!-- 查询列表 -->
	<select id="findAll" resultMap="entityResultMap" parameterType="com.onesuo.app.model.query.RoleQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM sys_role
		<if test="sortColumn != null and sortColumn != ''">
			order by ${sortColumn}
		</if>
		<if test="null != pgIndex and null != pgCount">
			limit ${pgIndex*pgCount}, #{pgCount}
		</if>
	</select>
	<!-- 查询数量 -->
	<select id="count" resultType="java.lang.Integer" parameterType="com.onesuo.app.model.query.RoleQuery">
		SELECT count(*) FROM sys_role
	</select>
	<!-- 保存 -->
	<insert id="save" parameterType="com.onesuo.app.model.Role" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_role
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="isDeleted != null" >
				is_deleted,
			</if>
			<if test="gmtCreate != null" >
				gmt_create,
			</if>
			<if test="gmtModified != null" >
				gmt_modified,
			</if>
			<if test="roleName != null" >
				role_name,
			</if>
			<if test="roleDesc != null" >
				role_desc,
			</if>
			<if test="status != null" >
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="isDeleted != null" >
				#{isDeleted},
			</if>
			<if test="gmtCreate != null" >
				#{gmtCreate},
			</if>
			<if test="gmtModified != null" >
				#{gmtModified},
			</if>
			<if test="roleName != null" >
				#{roleName},
			</if>
			<if test="roleDesc != null" >
				#{roleDesc},
			</if>
			<if test="status != null" >
				#{status},
			</if>
		</trim>
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="com.onesuo.app.model.Role">
		UPDATE sys_role
		<set>
			<if test="isDeleted != null" >
				is_deleted = #{isDeleted},
			</if>
			<if test="gmtCreate != null" >
				gmt_create = #{gmtCreate},
			</if>
			<if test="gmtModified != null" >
				gmt_modified = #{gmtModified},
			</if>
			<if test="roleName != null" >
				role_name = #{roleName},
			</if>
			<if test="roleDesc != null" >
				role_desc = #{roleDesc},
			</if>
			<if test="status != null" >
				status = #{status},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	<!-- 删除 -->
	<update id="delete" parameterType="java.lang.Integer">
		update sys_role set is_deleted=1 where id = #{id}
	</update>
	<!-- 删除列表 -->
	<update id="deleteAll" parameterType="java.util.List">
	update sys_role set is_deleted=1 where id in
		<foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</update>
</mapper>