<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sys_role_permission 角色权限 -->
<mapper namespace="com.onesuo.app.dao.certs.RolePermissionDao">
	<resultMap id="entityResultMap" type="com.onesuo.app.model.RolePermission">
		<id property="id" column="id" />
		<result property="isDeleted" column="is_deleted" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
		<result property="roleId" column="role_id" />
		<result property="permissionId" column="permission_id" />
	</resultMap>
	<sql id="Base_Column_List" >
		`id`,`is_deleted`,`gmt_create`,`gmt_modified`,`role_id`,`permission_id`
	</sql>
	<!-- 查询 -->
	<select id="findOne" resultMap="entityResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM sys_role_permission
		WHERE id = #{id}
	</select>
	<!-- 查询列表 -->
	<select id="findAll" resultMap="entityResultMap" parameterType="com.onesuo.app.model.query.RolePermissionQuery">
		SELECT
		<include refid="Base_Column_List" />
		FROM sys_role_permission
		<if test="sortColumn != null and sortColumn != ''">
			order by ${sortColumn}
		</if>
		<if test="null != pgIndex and null != pgCount">
			limit ${pgIndex*pgCount}, #{pgCount}
		</if>
	</select>
	<!-- 查询数量 -->
	<select id="count" resultType="java.lang.Integer" parameterType="com.onesuo.app.model.query.RolePermissionQuery">
		SELECT count(*) FROM sys_role_permission
	</select>
	<!-- 保存 -->
	<insert id="save" parameterType="com.onesuo.app.model.RolePermission" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sys_role_permission
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="isDeleted != null" >
				is_deleted,
			</if>
			<if test="gmtCreate != null" >
				gmt_create,
			</if>
			<if test="gmtModified != null" >
				gmt_modified,
			</if>
			<if test="roleId != null" >
				role_id,
			</if>
			<if test="permissionId != null" >
				permission_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="isDeleted != null" >
				#{isDeleted},
			</if>
			<if test="gmtCreate != null" >
				#{gmtCreate},
			</if>
			<if test="gmtModified != null" >
				#{gmtModified},
			</if>
			<if test="roleId != null" >
				#{roleId},
			</if>
			<if test="permissionId != null" >
				#{permissionId},
			</if>
		</trim>
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="com.onesuo.app.model.RolePermission">
		UPDATE sys_role_permission
		<set>
			<if test="isDeleted != null" >
				is_deleted = #{isDeleted},
			</if>
			<if test="gmtCreate != null" >
				gmt_create = #{gmtCreate},
			</if>
			<if test="gmtModified != null" >
				gmt_modified = #{gmtModified},
			</if>
			<if test="roleId != null" >
				role_id = #{roleId},
			</if>
			<if test="permissionId != null" >
				permission_id = #{permissionId},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	<!-- 删除 -->
	<update id="delete" parameterType="java.lang.Integer">
		update sys_role_permission set is_deleted=1 where id = #{id}
	</update>
	<update id="deleteByRoleIdPermissionId" parameterType="java.lang.Integer">
	update sys_role_permission set is_deleted=1 where role_id = #{roleId} and permission_id = #{permissionId}
	</update>
</mapper>